body.mudar-tema{

    color: white;
    background-color: #1e1e1e;
}
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    justify-items: center;

}

.card-perfil{

    justify-items: center;
    text-align: center;
    
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 2px solid;

    background-color: #7873D1;
    color: white;

    margin: 40px;

    width: 350px;
    min-height: 350px;

}

.avatar{

    width: 150px;

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);

}

#btn-status{
    
    background-color: white;
    opacity: 85%;

    cursor: pointer;

}